*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: #f5f6fa;
    line-height: 1.2
}

#signInBtn{
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: .8em;
}

.header_container{
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width:450px;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4.5em;
}

#logo{
    height:auto;
    width: 280px;
}

.form_container{
    padding: 0 2em;
    margin-top: 1em;
    position: relative;
    width: 100%;
    max-width:450px;
}

#airportForm{
    display: flex;
    justify-self: center;
    font-size: 1.5rem;
    padding: .5em 1em;
    gap: .2em;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    margin-top: 2em;
    max-width: 920px;
    width:100%;
    font-weight: 200;
    
}

#searchFrom, #searchTo{
    width: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    text-align: center;
} 

#departureDate, #arrivalDate{
    width: 90px;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    text-align: center;
}

.btnContainer{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.loading_container{
    padding: 0 2em;
    margin: 0 auto;
    position: relative;
    max-width:450px;
}

#flightsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flightCard{
    display:flex;
    border: none;
    border-radius: 5px;
    padding: 1em;
    background-color: rgb(236, 231, 228, .3);
    box-shadow: 5px 3px 5px black;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 1em;
    line-height: 1.4;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0 2em;
    font-size: 20px; 
    font-weight: 300;
  }

.saveFlightBtn{
    cursor: pointer;
    background-color: rgb(49, 98, 233);
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 5px black;
    color: #fff; 
    text-align: center;
    padding: 1em;
}

#signInBtn:hover{
    opacity: 80%;
}

#resetBtn, #submitBtn{
    cursor: pointer;
    background-color: rgb(49, 98, 233);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 6px rgba(29, 29, 29, 0.9);
    color: #fff; 
    text-align: center;
    display: inline-block;
    padding: 1em;
}

.saveFlightBtn:active {
    box-shadow: 1px 1px 3px rgba(29, 29, 29, 0.9);
    transform: translateY(2px);
}

#resetBtn:active {
    box-shadow: 1px 1px 3px black;
    transform: translateY(2px);
}

#submitBtn:active {
    box-shadow: 1px 1px 3px black;
    transform: translateY(2px);
}

#signInBtn:active{
    transform: translateY(2px);
}

.airlineLogo{
    width: 100%;
    min-width: 100px;
}

.errorMsg{
    font-size: 12px;
    color: red;
    margin-top: 1em;
    display: block;
}

.spinner{
    width: 10em;
    height: 10em;
    position: relative;
    padding-top: 5em;
    margin: 0 auto;
}

.spinner div {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid transparent;
    border-top-color:rgb(49, 98, 233);
    border-radius: 50%;
    animation: spinnerOne 1.5s linear infinite;
}

.spinner div:nth-child(2){
    border: 8px solid transparent;
    border-bottom-color:rgb(49, 98, 233);
    animation: spinnerTwo 1.5s linear infinite;

}

@keyframes spinnerOne{
    0% { transform: rotate(0deg); border-width: 10px}
    50% { transform: rotate(180deg); border-width: 1px}
    100% { transform: rotate(360deg); border-width: 10px}
}

@keyframes spinnerTwo{
    0% { transform: rotate(0deg); border-width: 1px}
    50% { transform: rotate(180deg); border-width: 10px}
    100% { transform: rotate(360deg); border-width: 1px}
} 


#airportForm > div{
    padding: .5em;
    font-size: .9em; 
    background-color: rgba(223, 229, 233, 0.9);
    min-width: 100px;
    z-index:1;
}

#airportForm > div:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#airportForm > div:nth-child(4){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#airportForm > div > label{
    margin-right: .3em;
    border: none;
}

.errorMsg{
    text-align: center;
}

#travelIdeas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 5em;
}

#travelIdeas > h2{
    display: flex;
    justify-content: start;
    flex-basis: 100%;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-top: 4rem;
    font-weight: 200;
}

.travelTips{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 850px;
    margin: 0 auto;
    width: 100%;
    gap: .5rem;
    position: Relative;
}

/* look at this again */
h2:after{ 
    content: '';
    display: block;
    width: 580px;
    height: 1px;
    background: rgb(36, 35, 35);
    margin-top: .6em;
    margin-left: .3em;
}

.travelTipsPic{
    flex-basis: 66%;
    max-width: 560px;
    height: 280px;
    border-radius: 5px;
}

.packingPic{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    width: 280px;
    height: 280px;
    border-radius: 5px;
}
/* 
.canoeTip{
    width: 560px;
    height: 136px;
    flex-basis: 66%;
    margin-top: 18em;
    position: absolute;
    border-radius: 5px;
} */

#travelIdeas > div > p{
    font-weight: 150;
    font-size: .9rem;
    margin-left: .5rem;
}

.travelPic{
    width: 280px;
    height: 280px;
    border-radius: 5px;
    flex-basis: 25%;
}

/* sidebar */

.sidebar> ul > li > a{
    text-decoration: none;
}

.top_navbar{
    display:flex;
    justify-content: space-between;
}
.wrapper .sidebar{
    background: rgb(5,68,104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    z-index: 2;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
    z-index: 2;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #0c7db1;
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover::before,
.wrapper .sidebar ul li a.active::before{
    display: block;
}

.wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
    background: rgb(7, 105, 185);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger2 a{
    font-size: 28px;
    color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger2 a:hover{
    color: #a2ecff;
}

body.active .wrapper .sidebar{
    left: -225px;
}

body.active .wrapper .section{
    margin-left: 0;
    width: 100%;
}

.main{
    position: relative;
    z-index: 1;
}


@media all and (max-width: 883px){

    #searchFrom, #searchTo{
        width: auto;
    } 
    
    #departureDate, #arrivalDate{
        width: auto;
    }
    
    #airportForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    #airportForm > div{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .saveFlightBtn{
        margin-top: 1.5em;
    }
    .airlineLogo{
        width: 25%;
        margin-bottom: 1em;
    }

    h2:after{ 
        content: '';
        display: block;
        width: 0px;
        height: 1px;
        background: rgb(36, 35, 35);
        margin-top: .6em;
        margin-left: .3em;
    }
}

@media all and (max-width: 623px){
    #travelIdeas{
        visibility: hidden;
    }
    #signInBtn{
        visibility: hidden;
    }
    #airportForm > div:nth-child(1){
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    #airportForm > div:nth-child(4){
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media all and (max-width: 743px){
    .col{
        width: auto;
    }

     .flightCard{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border-radius: 5px;
        padding: 1em;
        width: auto;
        min-width: 450px;
        margin: .5em 1em;
    } 

    .airlineLogo{
        width: 25%;
        margin-bottom: 1em;
    }

    #flightsContainer{
        margin-top: 1.5em;
    }

    .col {
        flex: 1;
        margin: 0 2em;
        font-size: 20px; 
      } 
    
    .saveFlightBtn{
        width: 50%;
        margin-top: 1.5em;
    }

}


.footer_container > hr {
    width: 800px;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;

}
.footer{
    line-height: 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    bottom: 0;
    font-size: 1.2rem;
    margin-top: auto;
}

.active{
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

.main{
    flex:1;
    min-height: 100vh;
}

img:hover{
    cursor: pointer;
    opacity: 75%;
}