*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --menu-speed: .75s;
}

.navbar_container{
    display:flex;
    justify-content: end;
    margin: 1em;
}

ul > li{
    text-decoration: none;
}

.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

/* Lines for Hamburger Menu */
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: rgb(222,121,67,1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px; 
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* top and bottom lines */
.menu-wrap .hamburger >div:before,
.menu-wrap .hamburger >div:after{
    content: '';
    position:absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* moves line down */
.menu-wrap .hamburger > div:after {
    top: 10px;
}

.menu-wrap .toggler:checked + .hamburger >div{
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger >div:before,
.menu-wrap .toggler:checked + .hamburger >div:after{
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu >div{
    transform:scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div{
    background: rgb(222,121,67, .9);;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all .4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

#signInBtn{
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 1em;
}

.header_container{
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width:450px;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
}

#logo{
    height:auto;
    width: 280px;
}

/* .header_question{
    display: flex;
    justify-content: start;
    position: relative;
}

.header-question > p{
    margin-left: 3em;
    font-size: 2rem;  
    
} */


.form_container{
    padding: 0 2em;
    margin-top: 1em;
    position: relative;
    width: 100%;
    max-width:450px;
}

#airportForm{
    display: flex;
    justify-self: center;
    font-size: 1.5rem;
    padding: .5em 1em;
    gap: .3em;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    margin-top: 2em;
    max-width: 920px;
    width:100%;
    
}

#searchFrom, #searchTo{
    width: 40px;
    font-size: 1rem;
} 

#departureDate, #arrivalDate{
    width: 90px;
    font-size: 1rem;
}

.btnContainer{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.loading_container{
    padding: 0 2em;
    margin: 0 auto;
    position: relative;
    max-width:450px;
}



#flightsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flightCard{
    display:flex;
    border: none;
    border-radius: 5px;
    padding: 1em;
    background-color: rgb(236, 231, 228, .3);
    box-shadow: 5px 3px 5px black;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 1em;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0 2em;
    font-size: 20px; 
  }

.saveFlightBtn{
    cursor: pointer;
    background-color: rgb(49, 98, 233);
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 5px black;
    color: #fff; 
    text-align: center;
    padding: 1em;
}

#signInBtn:hover{
    opacity: 80%;
}

#resetBtn, #submitBtn{
    cursor: pointer;
    background-color: rgb(49, 98, 233);
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 5px black;
    color: #fff; 
    text-align: center;
    display: inline-block;
    padding: 1em;
}

.saveFlightBtn:active {
    box-shadow: 1px 1px 5px black;
    transform: translateY(2px);
}

#resetBtn:active {
    box-shadow: 1px 1px 5px black;
    transform: translateY(2px);
}

#submitBtn:active {
    box-shadow: 1px 1px 5px black;
    transform: translateY(2px);
}

#signInBtn:active{
    transform: translateY(2px);
}

.airlineLogo{
    width: 100%;
    min-width: 100px;
}

.errorMsg{
    font-size: 12px;
    color: red;
    margin-top: 1em;
    display: block;
}

.spinner{
    width: 10em;
    height: 10em;
    position: relative;
    padding-top: 5em;
    margin: 0 auto;
}

.spinner div {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid transparent;
    border-top-color:rgb(49, 98, 233);
    border-radius: 50%;
    animation: spinnerOne 1.5s linear infinite;
}

.spinner div:nth-child(2){
    border: 8px solid transparent;
    border-bottom-color:rgb(49, 98, 233);
    animation: spinnerTwo 1.5s linear infinite;

}

@keyframes spinnerOne{
    0% { transform: rotate(0deg); border-width: 10px}
    50% { transform: rotate(180deg); border-width: 1px}
    100% { transform: rotate(360deg); border-width: 10px}
}

@keyframes spinnerTwo{
    0% { transform: rotate(0deg); border-width: 1px}
    50% { transform: rotate(180deg); border-width: 10px}
    100% { transform: rotate(360deg); border-width: 1px}
} 


#airportForm > div{
    border: none;
    padding: .5em;
    font-size: 1em; 
    background-color: rgb(240,243,245, .75);
    min-width: 100px;

}

#airportForm > div > label{
    margin-right: .3em;
}

#airportForm > div > label > input{
    text-align: center;
}

.errorMsg{
    text-align: center;
}

#travelIdeas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 5em;
}

#travelIdeas > h2{
    display: flex;
    justify-content: start;
    flex-basis: 100%;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin-left: 4.6rem;
    margin-top: 4rem;
    font-weight: 200;

}

#travelIdeas > div > p{
    font-weight: 150;
    font-size: .9rem;
    margin-left: .5rem;
}

.travelPic{
    width: 280px;
    height: 280px;
    border-radius: 5px;
    flex-basis: 25%;
}

@media all and (max-width: 883px){

    #searchFrom, #searchTo{
        width: auto;
    } 
    
    #departureDate, #arrivalDate{
        width: auto;
    }
    
    #airportForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    #airportForm > div{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .saveFlightBtn{
        /* width: 50%; */
        margin-top: 1.5em;
    }
    .airlineLogo{
        width: 25%;
        margin-bottom: 1em;
    }
}

@media all and (max-width: 623px){
    #travelIdeas{
        visibility: hidden;
    }
}

@media all and (max-width: 743px){
    .col{
        width: auto;
    }

     .flightCard{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border-radius: 5px;
        padding: 1em;
        width: auto;
        min-width: 450px;
        margin: .5em 1em;
        /* flex: 1 1 20%: */
    } 

    .airlineLogo{
        width: 25%;
        margin-bottom: 1em;
    }

    #flightsContainer{
        margin-top: 1.5em;
    }

    .col {
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
        flex: 1;
        margin: 0 2em;
        font-size: 20px; 
      } 
    
    .saveFlightBtn{
        width: 50%;
        margin-top: 1.5em;
    }

}

