<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canoe</title>
  <link rel = 'stylesheet' href = '/static/css/styles.css'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>

  <h1>
      <img src ="/static/canoe-1-logo-pack/CanoeLogo.png" id = 'logo'>
  </h1>

  <h2>
    <!-- <p>Where Are You Flying?</p> -->
  </h2>


 <container class = 'form_container'>
   
  <form id ='airportForm'>
      <label for ='AirportDept'>Departure</label>
        <input id = 'searchFrom' type = 'text' placeholder = 'Departure Code (e.g. MIA)' value = "ATL" maxlength ='3'></input>
      <label for ='AirportArr'>Arrival</label>
        <input id = 'searchTo'type = 'text' placeholder = 'Arrival Code (e.g. IND)' value = "IND" maxlength ='3'></input>
      <label for ='DeptDate'>Departure Date</label>
        <input id = 'departureDate' type ='text' placeholder = ' DD/MM/YY' value = '06/06/2022' maxlength = '10'></input>
      <label for ='ArrDate'>Arrival Date</label>
      <!-- type ='date' for dropdown calendar -->
        <input id ='arrivalDate' type ='text' placeholder = 'DD/MM/YY' value = '08/06/2022' maxlength = '10'></input>
    </form>
      <div class="errorMsg">
      </div>
  </container>

   <hr class ='horizontaLine'>

   <center>
    <input type ='submit' id= 'submitBtn' value = 'Search'></button>
    <input type ='reset' id= 'resetBtn' value = 'Reset'></button>
  </center> 

  <center>
  <div class="spinner">
    <div></div>
    <div></div>
  </div>
  <div id ='flightsContainer'>
  </div>
  </center>

  <script src="/js/main.js"></script>
  <script src="/js/async.js"></script>

</body>
</html>