<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="img-container">
    <img class="logo" src="/static/canoe-1-logo-pack/CanoeLogo.png" alt="Canoe Logo" />
    <div class="nav-container">
      <ul>
        <li>
          <a class="flightLink" href="#">Flights</a>
        </li>
        <li>
          <a class="trackerLink" href="#">Flights</a>
        </li>
        <li>
          <a class="signIn" href="/login">Sign In</a>
        </li>
        <li>
          <a class="signOut" href="#" style="display: none;">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div>
    <div>
      <h1>Sign in with your email and password</h1>
      <form action="">
  
        <label for="">Email</label>
        <input id='signInEmail' type="email" required>
  
        <label for="">Password</label>
        <input id='signInPassword' type="password" required>
  
        <button id="signInEmailBtn" type="submit">Sign In</button>
      </form>
    </div>
    <button id='googleSignInBtn'>Sign in With Google</button>
  </div>
  <div>
    <h1>Sign up with your email and password</h1>
    <form action="">
      <label for="">Display Name</label>
      <input id='displayName' type="text" required>

      <label for="">Email</label>
      <input id='email' type="email" required>

      <label for="">Password</label>
      <input id='password' type="password" required>

      <label for="">Confirm Password</label>
      <input id='confirmPassword' type="password" required>
      <button type="button" id="signUpEmailBtn" type="submit">Sign Out</button>
    </form>
  </div>


<script type="module" src="/js/firebase.js"></script>
</body>
</html>