<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flight Tracker</title>
    <link rel="stylesheet" href="/static/css/tracker.css" />
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
  
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  </head>
  <body>
    <div class="img-container">
      <img class="logo" src="/static/canoe-1-logo-pack/CanoeLogo.png" alt="Canoe Logo" />
      <div class="nav-container">
        <ul>
          <li>
            <a href="#">Flights</a>
          </li>
          <li>
            <a href="#">Sign In</a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    
    <!-- <div class="map-container">
      <div id = 'map'>


      </div> -->

    </div>

    <div class="container">
      <div class="flex-container">
        <div class="flight-container">
          <div class="card">
            <div class="content">
              <h2>Flight Tracker</h2>
              <!-- <a href="#">Track Flight</a> -->
              Track Flight: <input type="text" id="flight" />
              <!-- Enter Flight: <input type="text" id="date"> -->
              <button id="butt" onclick="filterAirport()">Show Flights</button>
              Track Flight: <input type="text" id="flighttwo" />
              <!-- Enter Flight: <input type="text" id="date"> -->
              <button id="butts" onclick="showFlightNum()">Show Flights</button>
            </div>
          </div>
        </div>
      </div>
      <div id="flight-data"></div>


      
      <!-- <div class="map-container">
      </div> -->
    </div>

    <div id="mapmodal" class="modal">
      <div class="modal-content">
        <!-- <div class="modal-header"> -->
          <div class="map-container">
            <div id = 'map'></div>
          </div>
        </div>
        <span class="closeBtn">&times;</span>
        <!-- <div id="map"></div> -->
      </div>
    </div>
   
    
    


   <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
   
   <script src="/js/main.js"></script>
    <script src="/js/tracker.js"></script>
  </body>
</html>